.Bodys {
    text-align: center;
}

.BodyIcon {
    margin-top: 50px;
}

.Title {
    text-align: center;
    margin: auto;
    align-items: flex-end;
}

.content {
    color: darkseagreen;
    margin-top: 50px;
}

.link {
    align-items: flex-end;
    margin-bottom: 50px;
}
